# ==========================================
#  CONFIGURACI칍N BASE (Por defecto / DEV)
# ==========================================
server:
  port: 8080

jreactive:
  # En DEV usamos RAM: es r치pido, no requiere instalar Redis y limpia todo al reiniciar.
  store:
    type: ram
  
  # Ajustes finos del WebSocket (Backpressure para que el cliente no se ahogue)
  ws:
    persistent-state: false
    enabled-backpressure: true
    max-queue: 1024
    flush-interval-ms: 16

---
# ==========================================
#  PERFIL DE PRODUCCI칍N (PROD)
# ==========================================
# Se activa con: java -jar app.jar --spring.profiles.active=prod
spring:
  config:
    activate:
      on-profile: prod
  threads:
    virtual:
      enabled: true    

jreactive:
  # En PROD usamos H칤brido: Velocidad de RAM + Persistencia de Redis
  store:
    type: hybrid
    # 游댠 ESTRATEGIA DE SERIALIZACI칍N (Nuevo)
    # Opciones:
    #   - json: (Default) Usa Jackson. M치s robusto, legible en Redis, tolerante a cambios de clase.
    #   - fst:  (Turbo) Serializaci칩n binaria. Ultra-r치pida, payload m칤nimo, pero fr치gil si cambias el c칩digo.
    serialization: json 
    
    # Configuraci칩n de consistencia para HybridStore
    #   - strong: (Default) Escribe en Redis antes de confirmar (m치s seguro).
    #   - eventual: Escribe en RAM y luego as칤ncrono a Redis (m치s r치pido, riesgo de p칠rdida si crash).
    consistency: strong
  
  redis:
    # Cambia esto por la IP real de tu Redis en producci칩n
    host: localhost 
    port: 6379